.order-item {
  display: flex;
  gap: var(--space-small);
  padding: var(--space-small);
  border: solid 1px var(--swatch-blue);
  border-radius: var(--border-radius);
  height: 100%;
}

.order-item img {
  width: 60px;
}

.order-item:hover {
  background-color: var(--swatch-blue-light);
}

.item-text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.sender-name {
  font-weight: 750;
}

.parcel-status {
  color: var(--swatch-blue);
  font-weight: 650;
}

@media (min-width: 750px) {
  .order-item img {
    object-fit: contain;
    width: 75px;
    height: auto;
  }
}
