.orders-screen {
  padding: var(--space-small) var(--space-small);
}

.orders-section {
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
  margin-bottom: var(--space-ultra);
}

.orders-section ul {
  padding-left: var(--space-small);
}

.orders-section h2 {
  margin-bottom: var(--space-small);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-big);
}

@media (min-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-big);
  }
}
